<% extend('./partials/base') %>

  <div class="container">
    <h1 class="mt-4">DashBoard page</h1>
    <h5>User:<%= user.username %> </h5>
    <h5>Role:<%= user.role %> </h5>
    <a href="/add_tarkari">Add Tarkari</a>
    <a href="/innerpage">Categories</a>

    <div class="container">
      <table class="table mt-4">
        <thead class="thead-dark">
          <tr>
            <th scope="col">S.N</th>
            <th scope="col">Name</th>
            <th scope="col">Rate</th>
            <th scope="col">Sale</th>
            <th scope="col">Views</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach((item, index)=> { %>
            <tr>
              <td scope="row">
                <%= index + 1 %>
              </td>
              <th><a href="#">
                  <%= item.product_name %>
                </a></th>
              <td>
                <%= item.rate %>
              </td>
              <td>1000 kg</td>
              <td>
                <%= item.views %>
              </td>
              <td>
                <a href="update_tarkari/<%= item.id %>">Update</a>
                <a href="delete_tarkari/<%= item.id %>">Delete</a>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  </div>
